<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite"  verbose="10"  configfailurepolicy="continue">

<test name="NBCAutomationDESKTOP_Safari">
		  <parameter name="aut" value="Safari" />
		  <classes>
				<class name="com.nbcd.TestRunner.TestRunner" />
		  </classes>
	</test>
	<test name="NBCAutomationIPHONE">
		  <parameter name="aut" value="IPHONE" />
		  <classes>
				<class name="com.nbcd.TestRunner.TestRunner" />
		  </classes>
	</test>
	<test name="NBCAutomationIPAD">
		  <parameter name="aut" value="IPAD" />
		  <classes>
	          <class name="com.nbcd.TestRunner.TestRunner" />
		  </classes>
	</test>
	<test name="NBCAutomationDESKTOP_Chrome">
	  <parameter name="aut" value="Chrome" />
	  <classes>
			<class name="com.nbcd.TestRunner.TestRunner" />
	  </classes>
</test>	
	<test name="NBCAutomationDESKTOP_Firefox">
	  <parameter name="aut" value="Firefox" />
	  <classes>
			<class name="com.nbcd.TestRunner.TestRunner" />
	  </classes>
</test>	
 <test name="NBCAutomationANDROIDTAB">
		  <parameter name="aut" value="ANDROIDTAB" />
		  <classes>
			 <class name="com.nbcd.TestRunner.TestRunner" />
		  </classes>
	</test>
	<test name="NBCAutomationANDROIDPHONE">
		   <parameter name="aut" value="ANDROIDPHONE" />
		   <classes>
				 <class name="com.nbcd.TestRunner.TestRunner" />
		   </classes>
	</test> 
</suite>


